/* accordion */
.accordion {
  --bs-accordion-bg: transparent;
  @apply t.z-0;
}
.accordion-button {
  @apply t.m-0 !t.bg-background t.py-2.5 t.px-0 t.text-sm
  !t.shadow-none
    after:t.hidden focus:t.z-0 focus:t.shadow-none
    dark:!t.bg-dark-background;
}
.accordion-body {
  @apply !t.bg-background t.py-0
  t.px-2
  dark:!t.bg-dark-background;
}

/* badges */
.filter-badges > .rbt > .rbt-input {
  @apply t.text-sm;
}
.filter-badges > .rbt > .rbt-input.form-control {
  @apply t.border-none
  t.bg-background 
    focus:!t.shadow-none
    dark:!t.bg-dark-background;
}
.filter-badges > .rbt > .rbt-input.form-control.focus {
  @apply !t.shadow-none;
}
.rbt-token-label {
  @apply t.capitalize;
}
.rbt-token > button {
  @apply !t.bg-none;
}
