<!--
Keep this file up-to-date when you add new variables to `.env`.
When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
This file will be committed to version control, so make sure not to have any secrets in it.
-->

# Prisma

DATABASE_URL=

# Knock notifications

KNOCK_SIGNING_KEY=
NEXT_PUBLIC_KNOCK_PUBLIC_KEY=

# Mainenance mode flag

NEXT_PUBLIC_OFFLINE=0

# Firebase

NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_STORAGE_BUCKET=
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_MEASUREMENT_ID=
