<!--
Keep this file up-to-date when you add new variables to `.env`.
When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
This file will be committed to version control, so make sure not to have any secrets in it.
-->

# Prisma

DATABASE_URL=
DATABASE_SCRIPTING_URL=

# Knock notifications

KNOCK_SIGNING_KEY=
NEXT_PUBLIC_KNOCK_PUBLIC_KEY=

# Mainenance mode flag

NEXT_PUBLIC_OFFLINE=0

# Next Auth

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
